@model MockAssessment5b.Models.Person

<h2>Result</h2>

<p>Age:@Model.Age</p>
<p>User Name

@if (Model.CanDrive)
{
    <p>This person can drive</p>
}

@if (Model.CanDrink)
{
    <h2>This person can Drink</h2>
}
else
{
    <h1>This Person is too young to drink</h1>
}